/*

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */
@import "compass/css3";
body { background: #0f0f0f; }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
  position: relative;
  height: 1000px;
  min-height: 1000px;
  width: 100%;
  background: #161415 url(../images/header-background6.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover ;
  text-align: center;
  overflow: hidden;
}


/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;s
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   position: relative;
  /*  animation: moving 10s ;*/
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
@-webkit-keyframes moving {
    from {top: 0px;}
    to {top: 200px;}
}

@keyframes moving {
    from {top: 0px;}
    to {top: 200px;}
}

header .banner-text h3 {
   font: 20px/1.9em 'librebaskerville-regular', serif;
   color: #fff;
   position: relative;
   font-style: normal;
  /* animation: moving 10s ;*/
   text-align: justify;
   margin: 0 auto;
   font-weight: bold;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   text-align: left;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
  position: relative;
  /*animation: moving 10s ;*/
   margin: 24px 0;
   padding: 0;
   text-align: center;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #11ABB0; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 15px helvetica;
   width: 100%;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: left;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #088A68; }


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
   background : #161415; /* url(../images/about.jpg)  no-repeat center center fixed ;*/
   padding-top: 96px;
   width: 100%;
   padding-bottom: 66px;
   overflow: hidden;
   background-size: cover;
   position: relative;

}

#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #088A68; }

#about h2 {
   font: 40px/30px 'opensans-bold', sans-serif;
   color: #fff;
   border-bottom: 3px solid #088A68;
   padding-bottom: 6px;
  /* text-decoration: underline;*/
   margin-bottom: 30px;
}
#about p {
   line-height: 30px;
   color: #fff;
   font-size: 20px;
  /* font-weight: bold;*/
   text-align: justify;
}
#about .profile-pic {
   position: relative;
   width: 200px;
}
#about .contact-details { width: 41.66667%; }
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #444;
}
#about .download .button:hover {
   background: #fff;
   color: #2B2B2B;
}
#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
}


/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */
/* === Resume Section === */

/*---------------------------------------------------------
Resume Timeline
-----------------------------------------------------------*/
.resume-title h1{
    text-align: left;
    color:#161415;
}
.resume-section > div > div{
    margin-bottom: 60px;
}
.resume-section > div > div:nth-of-type(2){
    margin-bottom: 0;
}
.resume-title{
    margin-bottom: 50px;
    font-size: 40px;
    color:#161415;
}
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.resume{
    position: relative;
}

.resume:before{
    content: "";
    position: absolute;
    top: -8px;
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.resume:after{
    content: "";
    position: absolute;
    bottom: -8px;
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1.5px;
    background-color: #000;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: left;
    position: relative;
    width: 100%;
}

.timeline-content{
    padding:5px 20px 0 20px;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .posted-date {
    position: relative;
    text-align: center;
    background-color: #fff;
    left: 20px;
}


.timeline>li .posted-date .month {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    display: block;
    color: #161415;;
    top: 0;
    float: left;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline-heading h3 {
    font-size: 20px;
    line-height: 28px;
}
.timeline-heading span{
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
}





@media(min-width:992px) {
.timeline:before {
    left: 50%;
}

.timeline>li {
    margin-bottom: 15px;
    min-height: 100px;
}

.timeline>li .posted-date {
    position: absolute;
    text-align: center;
    background-color: #fff;
}

.timeline>li .timeline-panel {
    float: left;
    width: 43%;
    text-align: right;
    border: 1px solid #fff;
    position: relative;
}

.timeline-content{
    position: relative;
    padding: 24px;
    background-color: #fff;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}

.timeline-content::after{
    border: 1px solid #eee;
    width: 100%;
    position: absolute;
    content: "";
    bottom: -3px;
    height:10px;
    left: 0;
    z-index: -1;
}

.timeline>li .timeline-content:hover {
    background: #088A68 ;
    color: #fff;
}

.timeline>li .timeline-panel::before,
.timeline>li.timeline-inverted .timeline-panel::before {
    content: "";
    top: 25px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline>li .timeline-panel::before {
    left: 100%;
    border-left: 12px solid #088A68 ;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}
.timeline>li .timeline-panel:hover::before {
    border-left: 12px solid #088A68 ;
}

.timeline>li.timeline-inverted .timeline-panel::before {
    right: 100%;
    border-right: 12px solid #088A68;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}
.timeline>li.timeline-inverted .timeline-panel:hover::before {
    border-right: 12px solid #088A68 ;
    border-left: 0;
}

.timeline>li .timeline-panel::after,
.timeline>li.timeline-inverted .timeline-panel::after {
    content: "";
    top: 25px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline>li .timeline-panel::after {
    left: 100%;
    margin-left: -2px;
    border-left: 12px solid #FFFFFF;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}
.timeline>li .timeline-panel:hover::after {
    border-left: 12px solid #088A68 ;
}

.timeline>li.timeline-inverted .timeline-panel::after {
    right: 100%;
    margin-right:-2px;
    border-right: 12px solid #FFFFFF;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}
.timeline>li.timeline-inverted .timeline-panel:hover::after {
    border-right: 12px solid #088A68 ;
    border-left: 0;
}

.timeline>li .posted-date {
    left: 50%;
    width: 120px;
    margin-left: -60px;
    margin-top: 28px;
}
.timeline>li .posted-date .month {
    float: none;
}



#resume {
 background : #fff; /* url(../images/gliter7.jpg)  no-repeat center center fixed;
/*background: -moz-linear-gradient(45deg, rgba(79,43,78,1) 54%, rgba(32,92,107,1) 81%, rgba(0,128,128,1) 100%); /* ff3.6+ */
/*background: -webkit-gradient(linear, left bottom, right top, color-stop(54%, rgba(79,43,78,1)), color-stop(81%, rgba(32,92,107,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
/*background: -webkit-linear-gradient(45deg, rgba(79,43,78,1) 54%, rgba(32,92,107,1) 81%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
/*background: -o-linear-gradient(45deg, rgba(79,43,78,1) 54%, rgba(32,92,107,1) 81%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
/*background: -ms-linear-gradient(45deg, rgba(79,43,78,1) 54%, rgba(32,92,107,1) 81%, rgba(0,128,128,1) 100%); /* ie10+ */
/*background: linear-gradient(45deg, rgba(79,43,78,1) 54%, rgba(32,92,107,1) 81%, rgba(0,128,128,1) 100%); /* w3c */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#4F2B4E',GradientType=1 );  /* ie6-9 */
/*  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91FF69', endColorstr='#008080',GradientType=1 ); /* ie6-9 */
  width: 100%;
  overflow: hidden;
  background-size: cover;
  position: relative;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}

#experience {
  padding-bottom: 97px;
}
#experience h2 {
  padding-top: 97px;
}

.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display:inline;
  float: left;
  position: relative;
  margin-left: 15px;

}


.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12 {
  position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .grid_1 {
  width:70px;
}

.container_12 .grid_2 {
  width:170px;
}

.container_12 .grid_3 {
  width:270px;
}

.container_12 .grid_4 {
  width:180px;
}

.container_12 .grid_5 {
  width:470px;
}

.container_12 .grid_6 {
  width:570px;
}

.container_12 .grid_7 {
  width:670px;
}

.container_12 .grid_8 {
  width:770px;
}

.container_12 .grid_9 {
  width:870px;
}

.container_12 .grid_10 {
  width:970px;
}

.container_12 .grid_11 {
  width:1070px;
}

.container_12 .grid_12 {
  width:1170px;
}

.block-1 {
  padding-bottom: 41px;
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid #088A68;
  padding-top: 20px;
}

.block-1:before {
  position: absolute;
  left: 120px;
  top: 11px;
  bottom: 26px;
  background-color: #088A68;
  width: 10px;
  content: '';
}
.block-1 .block-1__left {
  padding-right: 52px;
}
.block-1 .block-2__right .text-2 {
  margin-bottom: 34px;
}
.block-1 time {
  margin-bottom: 21px;
  padding-bottom: 38px;
  display: block;
  border-bottom: 1px solid #088A68;
}
.block-1 time span {
  display: inline-block;
  margin-left: 68px;
}
.block-1 .text-2.color1 {
  margin-bottom: 17px;
}

.block-1 {
    padding-bottom: 41px;
    overflow: hidden;

    .block-1 {
        margin-top: 15px;

    }

    block-1:before {
        position: absolute;
        left: 360px;
        top: 11px;
        bottom: 26px;
        background-color: #088A68;
        width: 10px;
        content: '';
    }
    position: relative;
    border-bottom: 10px solid #088A68;
    padding-top: 20px;

    .block-1__left {
        padding-right: 52px;
    }

    .block-2__right {
        .text-2 {
            margin-bottom: 15px;
            margin-left: 15px;
        }
    }
}
    time {
        margin-bottom: 21px;
        padding-bottom: 38px;
        display: block;
        border-bottom: 1px solid #565656;

        span {
            display: inline-block;
            margin-left: 68px;
        }
    }

    .text-2.color1 {
        margin-bottom: 17px;
    }
}

.ta__right {
  text-align: right;
}

.bq1 .text-2 {
  margin-bottom: 28px;
}
.bq1 .text-2 a:hover {
  color: #ffffff;
}

.text-2 {
  display: block;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 36px;
}


.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}


#projectsResume {
  background : #161415; /*url(../images/gliter5.jpg)  no-repeat center center fixed;*/
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
  height: 890px;
  width: 100%;
  background-size: cover;
  position: relative;
}

#tutoringResume{
  background : #fff ;/*url(../images/boreal.jpg)  no-repeat center center fixed;*/
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
  width: 100%;
  background-size: cover;
  position: relative;
}

#skillsresume{
  background : #161415; /*url(../images/smooth7.jpg)  no-repeat center center fixed;*/
  padding-top: 90px;
  width: 100%;
  padding-bottom: 72px;
  overflow: hidden;
  background-size: cover;
  position: relative;

}

#languagesresume{
  background: #fff;/* url(../images/smooth5.jpg)  no-repeat center center fixed;*/
  padding-top: 90px;
  padding-bottom: 72px;
  height: 600px;
  background-size: cover;
  position: relative;
  width: 100%;
  overflow: hidden;

}

/***************************chartss****************************************/

.rect-auto, .c100.p51 .slice, .c100.p52 .slice, .c100.p53 .slice, .c100.p54 .slice, .c100.p55 .slice, .c100.p56 .slice, .c100.p57 .slice, .c100.p58 .slice, .c100.p59 .slice, .c100.p60 .slice, .c100.p61 .slice, .c100.p62 .slice, .c100.p63 .slice, .c100.p64 .slice, .c100.p65 .slice, .c100.p66 .slice, .c100.p67 .slice, .c100.p68 .slice, .c100.p69 .slice, .c100.p70 .slice, .c100.p71 .slice, .c100.p72 .slice, .c100.p73 .slice, .c100.p74 .slice, .c100.p75 .slice, .c100.p76 .slice, .c100.p77 .slice, .c100.p78 .slice, .c100.p79 .slice, .c100.p80 .slice, .c100.p81 .slice, .c100.p82 .slice, .c100.p83 .slice, .c100.p84 .slice, .c100.p85 .slice, .c100.p86 .slice, .c100.p87 .slice, .c100.p88 .slice, .c100.p89 .slice, .c100.p90 .slice, .c100.p91 .slice, .c100.p92 .slice, .c100.p93 .slice, .c100.p94 .slice, .c100.p95 .slice, .c100.p96 .slice, .c100.p97 .slice, .c100.p98 .slice, .c100.p99 .slice, .c100.p100 .slice {
  clip: rect(auto, auto, auto, auto);
}

.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
  position: absolute;
  border: 0.08em solid #088A68;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.pie-fill, .c100.p51 .bar:after, .c100.p51 .fill, .c100.p52 .bar:after, .c100.p52 .fill, .c100.p53 .bar:after, .c100.p53 .fill, .c100.p54 .bar:after, .c100.p54 .fill, .c100.p55 .bar:after, .c100.p55 .fill, .c100.p56 .bar:after, .c100.p56 .fill, .c100.p57 .bar:after, .c100.p57 .fill, .c100.p58 .bar:after, .c100.p58 .fill, .c100.p59 .bar:after, .c100.p59 .fill, .c100.p60 .bar:after, .c100.p60 .fill, .c100.p61 .bar:after, .c100.p61 .fill, .c100.p62 .bar:after, .c100.p62 .fill, .c100.p63 .bar:after, .c100.p63 .fill, .c100.p64 .bar:after, .c100.p64 .fill, .c100.p65 .bar:after, .c100.p65 .fill, .c100.p66 .bar:after, .c100.p66 .fill, .c100.p67 .bar:after, .c100.p67 .fill, .c100.p68 .bar:after, .c100.p68 .fill, .c100.p69 .bar:after, .c100.p69 .fill, .c100.p70 .bar:after, .c100.p70 .fill, .c100.p71 .bar:after, .c100.p71 .fill, .c100.p72 .bar:after, .c100.p72 .fill, .c100.p73 .bar:after, .c100.p73 .fill, .c100.p74 .bar:after, .c100.p74 .fill, .c100.p75 .bar:after, .c100.p75 .fill, .c100.p76 .bar:after, .c100.p76 .fill, .c100.p77 .bar:after, .c100.p77 .fill, .c100.p78 .bar:after, .c100.p78 .fill, .c100.p79 .bar:after, .c100.p79 .fill, .c100.p80 .bar:after, .c100.p80 .fill, .c100.p81 .bar:after, .c100.p81 .fill, .c100.p82 .bar:after, .c100.p82 .fill, .c100.p83 .bar:after, .c100.p83 .fill, .c100.p84 .bar:after, .c100.p84 .fill, .c100.p85 .bar:after, .c100.p85 .fill, .c100.p86 .bar:after, .c100.p86 .fill, .c100.p87 .bar:after, .c100.p87 .fill, .c100.p88 .bar:after, .c100.p88 .fill, .c100.p89 .bar:after, .c100.p89 .fill, .c100.p90 .bar:after, .c100.p90 .fill, .c100.p91 .bar:after, .c100.p91 .fill, .c100.p92 .bar:after, .c100.p92 .fill, .c100.p93 .bar:after, .c100.p93 .fill, .c100.p94 .bar:after, .c100.p94 .fill, .c100.p95 .bar:after, .c100.p95 .fill, .c100.p96 .bar:after, .c100.p96 .fill, .c100.p97 .bar:after, .c100.p97 .fill, .c100.p98 .bar:after, .c100.p98 .fill, .c100.p99 .bar:after, .c100.p99 .fill, .c100.p100 .bar:after, .c100.p100 .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c100 {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin: 0 7em 0.7em 0;
  background-color: #cccccc;
}
.c100 *, .c100 *:before, .c100 *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.c100.center {
  float: none;
  margin: 0 auto;
}
.c100.big {
  font-size: 240px;
}
.c100.small {
  font-size: 80px;
}
.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 5em;
  font-size: 0.2em;
  color: #088A68;
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.c100:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: whitesmoke;
  width: 0.84em;
  height: 0.84em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.c100 .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.p90 .bar {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg);
}
.c100.p100 .bar {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.c100:hover {
  cursor: default;
}
.c100:hover > span {
  width: 3.33em;
  line-height: 3.33em;
  font-size: 0.3em;
  color: #088A68;
}
.c100:hover:after {
  top: 0.04em;
  left: 0.04em;
  width: 0.92em;
  height: 0.92em;
}

#resume a, #resume a:visited  { color: #11ABB0; }
#resume a:hover, #resume a:focus { color: #313131; }

#resume h1, #skillsresume h1, #testimonials h1{
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}

#tutoringResume h1{
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #161415;
}

#languagesresume h1{
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #161415;
}

#languagesresume p{

  color: #161415;
}
#languagesresume em{

  color: #161415;
}

#languagesresume h3{
 font: 25px/30px 'opensans-bold', sans-serif;
  color: #161415;

}

#languagesresume h1 span{
  border-bottom: 3px solid #088A68;
  padding-bottom: 6px;

}

#tutoringResume p{

  color: #161415;
}
#tutoringResume em{

  color: #161415;
}

#tutoringResume h3{
 font: 22px 'opensans-bold', sans-serif;
  color: #161415;

}

#tutoringResume h1 span{
  border-bottom: 3px solid #088A68;
  padding-bottom: 6px;

}

#projectsResume h1{
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
 #projectsResume h1 span{
   border-bottom: 3px solid #088A68;
   padding-bottom: 6px;

 }


#resume h1 span, #skillsresume h1 span, #languagesresume h1 span, #testimonials h1 span{
   border-bottom: 3px solid #088A68;
   padding-bottom: 6px;
}
#resume h3, #projectsResume h3, #skillsresume h3, #languagesresume h3. #testimonials h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

#resume #projectsResume #tutoringResume #skillsResume #languagesresume #testimonials .header-col { padding-top: 9px; }
#resume #projectsResume #tutoringResume #skillsResume #languagesresume #testimonials .main-col { padding-right: 10%; }

.education, .work{
   margin-bottom: 48px;
   padding-bottom: 24px;

}
#resume #projectsResume #tutoringResume #skillsresume #languagesresume #testimonials .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#resume #projectsResume #tutoringResume #skillsresume #languagesresume #testimonials  .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#resume #projectsResume #tutoringResume #skillsresume #languagesresume #testimonials .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars1 li {
    position: relative;
  	margin-bottom: 60px;
  	height: 2rem;
  	border-radius: 3px;
}

.bars1 li em {
	font: 15px 'opensans-bold', sans-serif;
   color: #161415;
	text-transform: uppercase;
   letter-spacing: 2px;
	font-weight: normal;
   position: relative;
	top: -36px;
}

.bars1 .skills {
  	margin-top: 36px;
   list-style: none;
}

.bars {
	width: 50%;
	float: left;
	padding: 0;
	text-align: left;
}
.bars .skills {
  	margin-top: 36px;
   list-style: none;
}
.bars li {
   position: relative;
  	margin-bottom: 60px;
  	background: #ccc;
  	height: 2rem;
  	border-radius: 3px;
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
   color: #fff;
	text-transform: uppercase;
   letter-spacing: 2px;
	font-weight: normal;
   position: relative;
	top: -36px;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;
   margin: 0;
   padding-right: 24px;
  	background: #088A68;
   display: inline-block;
  	height: 2rem;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
}

.java {
  	width: 80%;
  	-moz-animation: photoshop 2s ease;
  	-webkit-animation: photoshop 2s ease;
}
.python {
  	width: 90%;
  	-moz-animation: illustrator 2s ease;
  	-webkit-animation: illustrator 2s ease;
}
.c-cmasmas {
  	width: 85%;
  	-moz-animation: wordpress 2s ease;
  	-webkit-animation: wordpress 2s ease;
}
.css {
  	width: 85%;
  	-moz-animation: css 2s ease;
  	-webkit-animation: css 2s ease;
}
.html5 {
  	width: 85%;
  	-moz-animation: html5 2s ease;
  	-webkit-animation: html5 2s ease;
}
.javascript {
  	width: 50%;
  	-moz-animation: jquery 2s ease;
  	-webkit-animation: jquery 2s ease;
}

.net {
  	width: 80%;
  	-moz-animation: jquery 2s ease;
  	-webkit-animation: jquery 2s ease;
}

.angular {
  	width: 65%;
  	-moz-animation: jquery 2s ease;
  	-webkit-animation: jquery 2s ease;
}
.react {
  	width: 50%;
  	-moz-animation: jquery 2s ease;
  	-webkit-animation: jquery 2s ease;
}
.databases {
  	width: 85%;
  	-moz-animation: jquery 2s ease;
  	-webkit-animation: jquery 2s ease;
}


@-moz-keyframes photoshop {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-moz-keyframes illustrator {
  0%   { width: 0px;  }
  100% { width: 55%;  }
}
@-moz-keyframes wordpress {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-moz-keyframes css {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-moz-keyframes html5 {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes jquery {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}

@-webkit-keyframes photoshop {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-webkit-keyframes illustrator {
  0%   { width: 0px;  }
  100% { width: 55%;  }
}
@-webkit-keyframes wordpress {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-webkit-keyframes css {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-webkit-keyframes html5 {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes jquery {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}

/* ------------------------------------------------------------------
/* g. Testimonials
/* ------------------------------------------------------------------ */

#testimonials {
   background: #1F1F1F; /*url(../images/header-background1.jpg) no-repeat center center;*/
   background-size: cover !important;
	-webkit-background-size: cover !important;
   background-attachment: fixed;
   position: relative;
   min-height: 200px;
   width: 100%;
   overflow: hidden;
}
#testimonials .text-container {
   padding-top: 96px;
   padding-bottom: 66px;
}
#testimonials h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
}


#testimonials h1 span { display:block; }
#testimonials .header-col { padding-top: 9px; }


/*	Blockquotes */
#testimonials blockquote {
   margin: 0 0px 30px 0px;
   font: 10px 'opensans-bold', sans-serif;
   padding-left: 0;
   position: relative;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}
#testimonials blockquote:before { content: none; }
#testimonials blockquote p {
   font-family: 'opensans-bold', serif;
   padding: 0;
   font-size: 20px;
   line-height: 48px;
   color: #fff
}
#testimonials blockquote cite {
   display: block;
   font-size: 12px;
   font-style: normal;
   line-height: 18px;
   color: #fff;
}
#testimonials blockquote cite:before { content: "\2014 \0020"; }
#testimonials blockquote cite a,
#testimonials blockquote cite a:visited { color: #8B9798; border: none }

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}
.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }

/* Slider Styles */
.slides { zoom: 1; }
.slides > li {
   /*margin-right: 5px; */
   overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: left;
    margin-left: 80px;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #ddd;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}
.flex-control-paging li a:hover {
    background: #CCC;
    background: rgba(255, 255, 255, .7);
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, .9);
    cursor: default;
}

/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }
